*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.head{
  border: 1px solid white;
  background-color: white;
  width: 1525px;
  height: 40px;
  padding: 12px;
 
 

    a{
        text-decoration: none;
       
    
    }
    ul{
        display: flex;
        list-style-type: none;
        float: right;
        
        
    }
    li{
        padding: 10px;
      
     
    }
}
.acces{
    img{
        position: relative;
        width:1525px ;
    }
    h1{
        position:absolute;
        top: 100%;
        left: 4%;
        color: grey;
        font-size: 38px;
        
    }
}
.about{
    border: 1px none ;
    position: relative;
    
    img{
        position: absolute;
        top: 7%;
        left: 7%;
    }
    h1{
        text-align: center;
  
       margin-top:7%;
        margin-left: 37%;
        font-size: 30px;
    }
    h3{
        text-align: center;
        margin-top:7%;
        margin-left: 37%;
    }
    .parag{
     position: absolute;
        border: 1px none;
        width: 600px;
        height: 100px;
        left: 50%;
    }
    #prrr{
        color: gray;
    }
}

.main{
   h1{
       margin-left: 35%;
       font-weight: 300;
   }
   h2{
       font-weight: 300;
   }
    .menumm{
        position: absolute;
        margin-top: 50%;
        left: 7%;
       
    }
    img{
        position: absolute;
        top: 10%;
        left: 150%;
    }
    p{
        color: gray;
    }
}
.cont{
    position: absolute;
    margin-top: 120%;
    left: 7%;
    h1{
        font-weight: 300;
    }
    h2{
        font-weight: 300;
        color: cornflowerblue;
    }
    input{
        width: 1000px;
        height: 70px;
        border-style: none;
    }
    hr{
        width: 1000px;
    }
    button{
        padding: 7px;
        width: 150px;
        height: 30px;
        font-size: 16px;
        
    }
}

