.wrapper {
    width: 100%;
    height: 60px;
    background-color: red;

    img {
        width: 100%;
        object-fit: cover;
    }

    .logo-wrapper {
        width: 30%;
        display: inline-block;
        background-color: blue;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .some-ul {
        li {
            background-color: red;
            color: blue;
        }
    }
}

